In [ ]:
%pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2f/0e/3b74e8f7c908082793adafb02753477f653ccd7e189f3ba070757d2d0e65/pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting numpy>=1.22.4 (from pandas)
  Obtaining dependency information for numpy>=1.22.4 from https://files.pythonhosted.org/packages/9b/5a/f265a1ba3641d16b5480a217a6aed08cceef09cd173b568cd5351053472a/numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (58 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Using cached numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import math
import pandas as pd

In [ ]:
def nCr(n,k):
    f= math.factorial
    return f(n) /(f(k) * f(n-k))
nCr(7,2)

21.0

#### Activity: Implement the birthday_probability function

In [ ]:
def birthday_probability(number_of_people):
    n = number_of_people
    return 1 - ((364 / 365) ** math.comb(n, 2))

In [ ]:
birthday_probability(15)

0.25028790861398265

#### NBA Birthday Paradox Analysis

In [33]:
df = pd.read_csv('data.csv', parse_dates=['Birth Date'])
df

     Index             Player Pos  Age                   Team  Birth Date
0        0       Alex Abrines  SG   23  Oklahoma City Thunder  01/08/1993
1        1         Quincy Acy  PF   26       Dallas Mavericks  06/10/1990
2        2         Quincy Acy  PF   26          Brooklyn Nets  06/10/1990
3        3       Steven Adams   C   23  Oklahoma City Thunder  20/07/1993
4        4      Arron Afflalo  SG   31       Sacramento Kings  15/10/1985
..     ...                ...  ..  ...                    ...         ...
546    546        Cody Zeller  PF   24      Charlotte Hornets  05/10/1992
547    547       Tyler Zeller   C   27         Boston Celtics  17/01/1990
548    548  Stephen Zimmerman   C   20          Orlando Magic  09/09/1996
549    549        Paul Zipser  SF   22          Chicago Bulls  18/02/1994
550    550        Ivica Zubac   C   19     Los Angeles Lakers  18/03/1997

[551 rows x 6 columns]

In [ ]:
df['Team'].value_counts()

Team
New Orleans Pelicans      27
Dallas Mavericks          24
Cleveland Cavaliers       22
Philadelphia 76ers        22
Atlanta Hawks             22
Brooklyn Nets             21
Milwaukee Bucks           20
Oklahoma City Thunder     19
Denver Nuggets            19
Charlotte Hornets         19
Los Angeles Lakers        19
Sacramento Kings          19
Orlando Magic             19
Phoenix Suns              18
Washington Wizards        18
Houston Rockets           18
Chicago Bulls             18
Golden State Warriors     17
Toronto Raptors           17
Memphis Grizzlies         17
Indiana Pacers            17
San Antonio Spurs         17
Minnesota Timberwolves    16
New York Knicks           16
Miami Heat                15
Los Angeles Clippers      15
Portland Trail Blazers    15
Detroit Pistons           15
Utah Jazz                 15
Boston Celtics            15
Name: count, dtype: int64

Activity: Create the Birthday column

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       551 non-null    int64
 1   Player      551 non-null    object
 2   Pos         551 non-null    object
 3   Age         551 non-null    int64
 4   Team        551 non-null    object
 5   Birth Date  551 non-null    object
dtypes: int64(2), object(4)
memory usage: 26.0+ KB

In [51]:
df['Birth Date'] = pd.to_datetime(df['Birth Date'], format='%d/%m/%Y')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       551 non-null    int64
 1   Player      551 non-null    object
 2   Pos         551 non-null    object
 3   Age         551 non-null    int64
 4   Team        551 non-null    object
 5   Birth Date  551 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 26.0+ KB

In [55]:
df["Birthday"] = df['Birth Date'].dt.strftime("%m-%d")

In [56]:
#itertools combinations
from itertools import combinations

In [66]:
def combination_team(team):
    df1 = df[df['Team'] == team][['Player','Birthday']]
    names_df = pd.DataFrame(combinations(df1['Player'], 2), columns=["Person 1", "Person 2"])
    birthday_df = pd.DataFrame(combinations(df1['Birthday'], 2), columns=["Birthday 1", "Birthday 2"])
    return pd.concat([names_df, birthday_df], axis=1)

How many pairs of players share a birthday for the Atlanta Hawks?

In [67]:
df_atlanta = combination_team('Atlanta Hawks')

In [69]:
(df_atlanta['Birthday 1'] == df_atlanta['Birthday 2']).sum()

#another way
#df_at2[df_at2['Birthday 1'] == df_at2['Birthday 2']].shape

3

How many pairs of players share a birthday in the Cleveland Cavaliers?

In [70]:
df_cavs = combination_team('Cleveland Cavaliers')
(df_cavs['Birthday 1'] == df_cavs['Birthday 2']).sum()

1

In the Dallas Mavericks, who shares a birthday with J.J. Barea?

In [71]:
df_dallas= ci('Dallas Mavericks')
df_dallas[(df_dallas['Birthday 1'] == df_dallas['Birthday 2']) & (df_dallas['Person 1'] == 'J.J. Barea') ]

      Person 1        Person 2 Birthday 1 Birthday 2
65  J.J. Barea  Deron Williams      06-26      06-26